# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# Data files
data/mitdb/*.dat
data/mitdb/*.hea
data/mitdb/*.atr
data/processed/
data/partitioned/

# Model files
experiments/*.pth

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/